* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
	background: #282c34;
	font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

.scroll{
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-face-color: #367CD2;
	scrollbar-darkshadow-color: #FFFFFF;
}

.scroll::-webkit-scrollbar {
	width: 10px;
}


.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #444e62;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* ---- header ---- */
header {
	background: #21252b;
	border-bottom: 1px solid #181a1f;
}

header .header__logo {
	padding-left: 10px;
	padding-bottom: 10px;
	color: #fff;
}

/* ---- .wrapper ---- */
.wrapper {
	display: table;
	width: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

#content__loader {
	display: none;
	background-color: rgba(0, 0, 0, 0.48);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	left: 0px;
	top: 0px;
}

#content__loader::after {
	content: url('/img/loader.gif');
	margin: 0 auto;
	text-align: center;
	display: block;
	top: 30%;
	position: relative;
}

/* ---- .gallery ---- */
#content__gallery .content__gallery__filters {
	/*background-color: #fff;*/
	padding: 5px;
	margin: 10px auto 5px auto;
	height: 35px;
}

#content__gallery .content__gallery__filters__filter-category-select {
	width: 135px;
}

#content__gallery .content__gallery__imageList__image .content__gallery__imageList__image__info {
	bottom: 10px;
	position: inherit;
	left: 5px;
}
#content__gallery .content__gallery__imageList__image .content__gallery__imageList__image__info-like,
#content__gallery .content__gallery__imageList__image .content__gallery__imageList__image__info-rating{
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	margin-left: 5px;
	padding: 5px;
	float: left;
}

#content__gallery input.content__gallery__filters__filter-tags-input {
	color: #aaaeb4;
	border-radius: 3px;
	padding: 4px;
	width: 250px;
	border: 1px solid #1c1e24;
	background-color: #1e2127;
}

#content__gallery input.content__gallery__filters__filter-tags-input:focus{
	border: 1px solid #1B00FF !important;
}

#content__gallery .content__gallery__imageList__image a.content__gallery__imageList__image__info-like:hover {
	text-decoration: none;
	color: #FFACAE !important;
}

#content__gallery .content__gallery__filters .btn {
	padding: 0;
	font-size: 12px;
	text-align: left;
}

#content__gallery .content__gallery__filters .btn-default {
	background-color: #3a3f4b;
	color: #9da5ad;
	border-color: #181a1f;
	border-radius: 3;
	padding: 5px;
}

#content__gallery .content__gallery__filters .btn .caret {
	border-top-color: #000;
}

#content__gallery .content__gallery__filters .open > .btn-default {
	border-bottom: 0px;
}

#content__gallery .content__gallery__filters .open > .btn-default {
	background-color: #3a3f4b;
	border: 0px;
}

#content__gallery .content__gallery__filters .open > .dropdown-toggle,
#content__gallery .content__gallery__filters .open > .btn-default,
#content__gallery .content__gallery__filters .btn.active,
#content__gallery .content__gallery__filters .btn:active {
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}

#content__gallery .content__gallery__filters__filter-category {
	float: left;
}
#content__gallery .content__gallery__filters__filter-tags {
	float: right;
}
/* ---- grid ---- */

.grid {
	/*background: #fff;*/
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */

#content__gallery .content__gallery__imageList__image {
	/*float: left;*/
	margin: 0 auto;
	padding: 5px;
}

#content__gallery .content__gallery__imageList__image img {
	display: block;
	max-width: 100%;
}

/* ---- footer ---- */

footer {
	color: #fff;
	border-top: 1px solid #181a1f;
	padding-top: 10px;
}
