* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
	background-color: #F2F2F2;
	font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

/* ---- header ---- */
header {
	background-color: #fff;
	border-bottom: 1px solid #EAEAEA;
}

header .header__logo {
	padding-left: 10px;
	padding-bottom: 10px;
	color: blue;
}

/* ---- .wrapper ---- */
.wrapper {
	display: table;
	width: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* ---- .gallery ---- */
#gallery .gallery__filters {
	background-color: #fff;
	padding: 5px;
	margin: 10px auto 0 auto;
	width: 98%;
	width: 100%;
	text-align: center;
}

#gallery .gallery__imageList__image .gallery__imageList__image__info {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
#gallery .gallery__imageList__image .gallery__imageList__image__info-like,
#gallery .gallery__imageList__image .gallery__imageList__image__info-rating{
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	margin-left: 5px;
	padding: 5px;
	float: left;
}

#gallery .gallery__imageList__image a.gallery__imageList__image__info-like:hover {
	text-decoration: none;
	color: #FFACAE !important;
}

#gallery .gallery__filters .dropdown-menu {
	text-align: left;
}

#gallery .gallery__filters .btn {
	padding: 0;
	font-size: 12px;
	text-align: left;
}

#gallery .gallery__filters .btn-default {
	color: #777;
	background-color: #fff;
	border-color: #fff;
	border-bottom: dotted 1px #000;
	border-radius: 0;
	padding-bottom: 0px;
}

#gallery .gallery__filters .btn .caret {
	border-top-color: #000;
}

#gallery .gallery__filters .open > .btn-default {
	border-bottom: 0px;
}

#gallery .gallery__filters .open > .btn-default {
	background-color: #fff;
	border: 0px;
}

#gallery .gallery__filters .open > .dropdown-toggle,
#gallery .gallery__filters .open > .btn-default,
#gallery .gallery__filters .btn.active,
#gallery .gallery__filters .btn:active {
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}

/* ---- grid ---- */

.grid {
	/*background: #fff;*/
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */

#gallery .grid-sizer,
#gallery .gallery__imageList__image {
	width: 33.333%;
}

#gallery .gallery__imageList__image {
	float: left;
	padding: 5px;
}

#gallery .gallery__imageList__image img {
	display: block;
	max-width: 100%;
}

/* ---- footer ---- */

footer {
	border-top: 1px solid #DCDCDC;
	padding-top: 10px;
}
