<div class="gallery__filters_filter btn-group">
	<a href="#" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Small button <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">Action</a></li>
		<li><a href="#">Another action</a></li>
	</ul>
</div>
<div class="gallery__filters_filter btn-group">
	<a href="#" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Small button <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">Action</a></li>
		<li><a href="#">Another action</a></li>
	</ul>
</div>
